<mat-toolbar color="primary">
       <button mat-button (click)="drawer.toggle()">
         <mat-icon aria-hidden="false" aria-label="icon" >menu</mat-icon>
       </button>
  <span>Eventz</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon aria-hidden="false" aria-label="icon">cake</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item >
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Item 1
      </button>
   
  </mat-menu>

</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="side" #drawer>Start</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>


 
